NEXT_PUBLIC_API_URL_BASE=""
TWITTER_CREATOR="@wootsbot"
SITE_NAME="X Boilerplate"
SITE_URL="https://x.openkit.run"
NEXT_PUBLIC_SITE_URL="https://x.openkit.run"

RESEND_API_KEY=""
RESEND_DOMAIN="help@openkit.run"

AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

# Optional
NEXT_PUBLIC_DEFAULT_LANGUAGE_KEY="en"

NEXT_PUBLIC_LANGUAGE=en


NEXT_PUBLIC_PERSONAL_GITHUB_TOKEN=""
