.root {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0px;
  user-select: none;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  background-color: #efefef;
}

.root:hover {
  cursor: pointer;
  border-color: #000;
}
